/* Grids */

.ItemOdd, .ItemEven
{
	padding: 2px 0 5px 0;
	margin: 2px 0 5px 0;
}


.ItemOdd div.ItemAction, .ItemEven div.ItemAction
{
	clear: left;
}

.ItemAction
{
	padding-top: 0px;
	float: left;
	width: 24px;
}

.SubDiv
{
	margin: 15px 0 15px 7px;
}
.dnnForm
{
	border: 2px solid #ccc;
	border-radius: 3px;
	background-color: rgba(222,222,222,10);
	padding: 2px;
}
.SubDiv.even > .dnnForm
{
	background-color: rgba(222,222,222,10);
}
.SubDiv.odd > .dnnForm
{
	background-color: #fff;
	
}

.SubDiv > .fa
{
	float: right;
	padding: 5px;
}

/* Form */
/*todo: property editor needs some love... Clear blocks would be a start with layers of semi-transparent background */

.dnnForm
{
	width: 100%;
}

.peCol
{
	display: inline-block;
	vertical-align: top;
}

* + html .peCol
{
	display: inline;
	zoom: 1;
}

.peCol2
{
	width: 50%;
}

.peCol3
{
	width: 33%;
}

.peCol4
{
	width: 25%;
}

/* Sections */

.aricie_pe_sections a.sectionHeader
{
	display: block;
	padding: 5px 25px;
	border: none;
	border-bottom: 1px solid black;
	background: none;
}


/* Tabs */


.aricie_pe_tabs
{
	margin-top: 0.5em;
}

.dnnForm .ui-tabs .ui-tabs-nav .ui-state-active a, .dnnForm .ui-tabs .ui-tabs-nav .ui-state-active a:link, .dnnForm .ui-tabs .ui-tabs-nav .ui-state-active a:visited, .dnnForm .ui-tabs .ui-tabs-nav .ui-state-active, .dnnForm .ui-tabs .ui-tabs-nav .ui-widget-content .ui-state-active, .dnnForm .ui-tabs .ui-tabs-nav .ui-widget-header .ui-state-active
{
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	background: #4E4E4E;
	background: -moz-linear-gradient(top, #4E4E4E 0%, #282828 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4E4E4E), color-stop(100%,#282828));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4E4E4E', endColorstr='#282828',GradientType=0 );
}

.dnnForm .ui-tabs .ui-tabs-panel
{
	padding: 1em 0em 0.8em 0.7em;
}


.dnnForm .ui-state-default
{
	background: #ccc;
}


/* Accordions */

.dnnForm .ui-accordion .ui-state-default a
{
	color: inherit;
}


.dnnForm .ui-accordion .ui-accordion-header
{
	background: -moz-linear-gradient(center top, #818181 0%, #656565 100%) repeat scroll 0 0 transparent; /* copier coller par Samy */
	background: #4E4E4E;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4E4E4E), color-stop(100%,#282828));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4E4E4E', endColorstr='#282828',GradientType=0 );
	color: #FFFFFF;
}

.dnnForm .ui-accordion h3.ui-accordion-header > a
{
	/*margin-right:60px;*/
	color: #fff;
	height: 18px;
	display: block;
	font-size: 1em;
	padding: 0.5em 0.5em 0.5em 0.7em;
}


.dnnForm .ui-accordion .ui-accordion-header .ui-icon
{
	display: none;
}

.dnnForm .ui-accordion h3.ui-accordion-header .ItemAction
{
	float: right;
	padding: 2px 2px 0 0;
	width: auto;
	text-align: right;
	min-height: 25px;
}
.dnnForm .ui-accordion h3.ui-accordion-header:after
{
	display: block;
	clear: both;
	content: " ";
}
.dnnForm .ui-accordion h3.ui-accordion-header .ItemAction input, .dnnForm .ui-accordion h3.ui-accordion-header .ItemAction span
{
	float: left;
}

.dnnForm .aricieActions .actionText
{
	padding-left: 1em;
}


.dnnForm .ui-accordion .ui-accordion-content
{
	border: 1px solid #DDDDDD;
	padding: 0.5em 0 0.5em 0.8em;
}

.dnnForm .fieldC .ui-accordion .ui-accordion-content
{
	overflow: inherit;
}



/* Fields */

.pkSettings
{
	margin: 10px 0 0 8px;
}

.HeaderPl
{
	clear: both;
}

.section
{
	margin-left: 10px; /*clear:both;*/
}

.clear
{
	clear: both;
}

.fieldC
{
	clear: both;
}


.labelLeft
{
	float: left;
}

.labelRight
{
	float: right;
}

.ctRight
{
	float: right;
}

.ctLeft
{
	float: left;
}


.dnnForm .dnnFormItem .aricieFullWidth, .dnnForm .dnnFormItem .aricieFullWidth label
{
	float: none;
	width: auto;
	text-align: left;
}

.dnnForm .dnnFormItem select
{
	max-width: none;
	width: auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.dnnForm .dnnFormItem textarea
{
	max-width: none;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.dnnForm .dnnFormItem .aricieFullWidth label a.dnnFormHelp
{
	background-position: left;
	padding-left: 16px;
	margin: 2px;
}

.dnnForm .dnnFormItem .aricieFullWidth .dnnFormHelpContent
{
	left: 5px;
	top: 15px;
}


.dnnForm .dnnFormItem span.CommandButton input
{
	display: inline !important;
	float: none;
	position: relative;
	top: 7px;
}

.dnnForm .dnnFormItem .CommandsButtons span.CommandButton
{
	padding: 0 5px;
}

.dnnForm .dnnFormItem .aricieActions
{
	display: inline-block;
	padding: 9px 9px;
	margin: 4px;
	cursor: pointer; /*-moz-min-width: 75px;     -ms-min-width: 75px;     -o-min-width: 75px;     -webkit-min-width: 75px;     min-width: 75px;*/
	border: 1px solid #c2c2c2;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none;
	text-align: center;
	color: #70b1c7;
	background-color: #fff;
}

.dnnForm .aricieActions:hover
{
	background-color: #70b1c7;
	color: #eee;
}

* + html .dnnForm .dnnFormItem .aricieActions
{
	display: inline;
	zoom: 1;
}

.dnnForm .aricieActions p
{
	margin: 0;
	padding: 0;
}

/* Add Panel*/

.dnnForm .dnnFormItem .AddPanel
{
	width: 100%;
}

.dnnForm .dnnFormItem .AddPanel > div
{
	display: inline-block;
	padding: 5px 5px 5px 10px;
	vertical-align: top;
}

.dnnForm .dnnFormItem .AddPanel > div > select
{
	width: 100%;
}

/* Export Panel */

.dnnForm .dnnFormItem .ExportPanel
{
	width: 100%;
}

.dnnForm .dnnFormItem .ExportPanel > div
{
	display: inline-block;
	padding: 5px 5px 5px 10px;
	vertical-align: top;
}

.dnnForm .dnnFormItem .ExportPanel > div:first-child
{
	border-right: 1px solid #CCCCCC;
	padding: 5px 20px 5px 5px;
	width: auto;
}

.dnnForm .dnnFormItem .ExportPanel > div > *
{
	display: inline-block !important;
	float: none !important;
	text-align: left;
	vertical-align: top;
}

.dnnForm .dnnFormItem .ExportPanel .dnnLabel
{
	padding-right: 20px;
	width: auto;
}


.dnnForm .dnnFormItem .ExportPanel .dnnTooltip, .dnnForm .dnnFormItem .ExportPanel .dnnTooltip *, .dnnForm .dnnFormItem .ExportPanel input
{
	float: none;
}


